createdAt: "2018-06-29T16:20:55.078Z"
updatedAt: "2018-07-01T04:29:00.064Z"
type: "MARKDOWN_NOTE"
folder: "d647ce9933e1c52796de"
title: "线程"
content: '''
  # 线程
  1.基础概念，线程运行状态转换图
  
'''
tags: [
  "线程"
  "并发"
]
isStarred: false
isTrashed: false
