createdAt: "2018-06-29T16:21:18.341Z"
updatedAt: "2018-06-30T09:41:48.284Z"
type: "MARKDOWN_NOTE"
folder: "7e29a740260ac6dc97a7"
title: "IO"
content: '''
  # IO
  
'''
tags: [
  "IO"
  "NIO"
]
isStarred: false
isTrashed: false
