createdAt: "2018-06-27T11:52:16.736Z"
updatedAt: "2018-07-02T12:00:44.428Z"
type: "MARKDOWN_NOTE"
folder: "2bd4debf0edd3bd73c5f"
title: "欢迎使用 MarkdownPad 2 "
content: '''
  ## 欢迎使用 MarkdownPad 2 ##
  
  **MarkdownPad** 是 Windows 平台上一个功能完善的 Markdown 编辑器。
  
  ### 专为 Markdown 打造 ###
  
  提供了语法高亮和方便的快捷键功能，给您最好的 Markdown 编写体验。
  
  - **粗体** (`Ctrl+B`) and *斜体* (`Ctrl+I`)
  - 我是无须队列
  - 放的额
  
  ### 实时预览，所见即所得 ###
  
  无需猜测您的 [语法](http://markdownpad.com) 是否正确；每当您敲击键盘，实时预览功能都会立刻准确呈现出文档的显示效果。
  
  ### 代码块 ###
  ``` python
  @requires_authorization
  def somefunc(param1='', param2=0):
      \'''A docstring\'''
      if param1 > param2: # interesting
          print 'Greater'
      return (param2 - param1 + 1) or None
  class SomeClass:
      pass
  >>> message = \'''interpreter
  ... prompt\'''
  ```
  ``` java
  public staic void main(String args){
          System.out.print("hello world")
  }
  ```
  
  ### 表格
  | Item      |    Value | Qty  |
  | :-------- | --------:| :--: |
  | Computer  | 1600 USD |  5   |
  | Phone     |   12 USD |  12  |
  | Pipe      |    1 USD | 234  |
  
  ### 复选框
  使用 `- [ ]` 和 `- [x]` 语法可以创建复选框，实现 todo-list 等功能。例如：
  
  - [x] 已完成事项
  - [ ] 待办事项1
  - [ ] 待办事项2
  
  > **注意：**目前支持尚不完全，在印象笔记中勾选复选框是无效、不能同步的，所以必须在**马克飞象**中修改 Markdown 原文才可生效。下个版本将会全面支持。
  
  
  ## 印象笔记相关
  
  ### 笔记本和标签
  **马克飞象**增加了`@(笔记本)[标签A|标签B]`语法, 以选择笔记本和添加标签。 **绑定账号后**， 输入`(`自动会出现笔记本列表，请从中选择。
  
   >**隐私声明：用户所有的笔记数据，均保存在印象笔记中。马克飞象不存储用户的任何笔记数据。**
  
  ## 编辑器相关
  ### 设置
  右侧系统菜单（快捷键`Ctrl + M`）的`设置`中，提供了界面字体、字号、自定义CSS、vim/emacs 键盘模式等高级选项。
  
  ### 快捷键
  
  帮助    `Ctrl + /`
  同步文档    `Ctrl + S`
  创建文档    `Ctrl + Alt + N`
  最大化编辑器    `Ctrl + Enter`
  预览文档 `Ctrl + Alt + Enter`
  文档管理    `Ctrl + O`
  系统菜单    `Ctrl + M`
  
  加粗    `Ctrl + B`
  插入图片    `Ctrl + G`
  插入链接    `Ctrl + L`
  提升标题    `Ctrl + H`
  
  ### LaTeX 公式
  
  可以创建行内公式，例如 $\\Gamma(n) = (n-1)!\\quad\\forall n\\in\\mathbb N$。或者块级公式：
  
  $$	x = \\dfrac{-b \\pm \\sqrt{b^2 - 4ac}}{2a} $$
  
  ### 表格
  | Item      |    Value | Qty  |
  | :-------- | --------:| :--: |
  | Computer  | 1600 USD |  5   |
  | Phone     |   12 USD |  12  |
  | Pipe      |    1 USD | 234  |
  
  
  以及时序图:
  
  ```sequence
  Alice->Bob: Hello Bob, how are you?
  Note right of Bob: Bob thinks
  Bob-->Alice: I am good thanks!
  ```
  
  **马克飞象**为新用户提供 10 天的试用期，试用期过后需要[续费](maxiang.info/vip.html)才能继续使用。未购买或者未及时续费，将不能同步新的笔记。之前保存过的笔记依然可以编辑。
  
  
  ## 反馈与建议
  - 微博：[@马克飞象](http://weibo.com/u/2788354117)，[@GGock](http://weibo.com/ggock "开发者个人账号")
  - 邮箱：<hustgock@gmail.com>
  
  ---------
  感谢阅读这份帮助文档。请点击右上角，绑定印象笔记账号，开启全新的记录与分享体验吧。
  
  [^demo]: 这是一个示例脚注。请查阅 [MultiMarkdown 文档](https://www.baidu.com) 关于脚注的说明。 **限制：** 印象笔记的笔记内容使用 [ENML][5] 格式，基于 HTML，但是不支持某些标签和属性，例如id，这就导致`脚注`和`TOC`无法正常点击。
  
    [1]: http://maxiang.info/client_zh
    [2]: https://chrome.google.com/webstore/detail/kidnkfckhbdkfgbicccmdggmpgogehop
    [3]: http://adrai.github.io/flowchart.js/
    [4]: http://bramp.github.io/js-sequence-diagrams/
    [5]: https://dev.yinxiang.com/doc/articles/enml.php 
    </br>
'''
tags: []
isStarred: false
isTrashed: false
