type: "MARKDOWN_NOTE"
folder: "4b6937ffbc6ca733523c"
title: "wqewaef asd"
content: "wqewaef asd"
tags: []
isStarred: false
isTrashed: true
createdAt: "2018-09-22T08:12:54.532Z"
updatedAt: "2018-09-22T08:16:16.996Z"
